body{
  background-color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
display: flex;
border: 2px solid #fff;
text-align: center;
align-items: center;
flex-direction: column;
justify-content: center;

height: 40rem;
width: 26rem;
gap: 7px;


}
.button{
  display: flex;
  justify-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
  border-top: 2px solid #fff;
  padding:35px;
  margin: 1px;
}
button{
  height: 90px;
    width: 90px;
  margin-bottom: 8px;
  color: aliceblue;
  cursor: pointer;
  font-size: 2rem;
  padding: 15px;
  background-color: grey;
  
  margin-bottom: 1px;
  font-weight: bold;
  border-radius: 20%;
  border: none;
}
.screenrow{
  height: 150px;

display: flex;

}

#screenrowcontent{
padding-right: 10px;
text-align: right;
align-content: center;
width: 24.2rem;
font-size: 80px;
flex: 1;
border-radius: 3%;
flex-wrap: wrap;
background-color: gray;
}
.fifthrow{
  display: flex;
}
.fourthrow{
  display: flex;
}
.thirdrow{
  display: flex;
}
.secondrow{
  display: flex;
}
.screenrow{
  display: flex;
}
.sixthrow{
  display: flex;
}
.operator{
  color: rgb(162, 107, 5);
}